
@{
    Layout = null;
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>窩不知道</h1>
        <h2>
            User Name : @Session["UserName"].ToString()
        </h2>
        <a href="@Url.Action("Logout","Login")">Logout</a>
    </div>
</body>
</html>
